@font-face {
  font-family: "Ailerons";
  src: local("Ailerons-Typeface"),
    url("https://github.com/shiyihang2007/novadrift-online/Fonts/Ailerons-Typeface.otf");
}

html {
  --var-game-color-main: #5af;
}

.title {
  font-size: 10vh;
  font-family: "Ailerons", "Consolas";
}

.player {
  height: 10vh;
  width: 10vh;
  background-color: var(--var-game-color-main);
}
